* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
}

.sidebar {
  background-color: black;
  width: 340px;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.4rem 0 1.4rem;
}

.music-player {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 72px; */
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.7rem;
}
a {
  text-decoration: none;
  color: white;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.25rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.library-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.icons {
  font-size: 1.5rem;
  display: flex;
}

.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover {
  opacity: 1;
}

.box {
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.5rem 0rem 1.75rem 0rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}

.box-p2 {
  font-size: 0.85rem;
  opacity: 0.9;
}

.badge {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
  cursor: pointer;
}

.box:hover {
  background-color: #343434;
}

.dark-badge {
  background-color: black;
  color: white;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 10;
}

.sticky-nav-icons {
  margin-left: 0.75rem;
}

.sticky-nav-icons img {
  cursor: pointer;
  margin-right: 1em;
  border-radius: 50%;
  padding: 0.1em;
}

.sticky-nav-icons img:hover {
  background-color: #343434;
}

.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin-right: 1rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.card {
  background-color: #2222229d;
  width: 140px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.card:hover {
  background-color: #343434;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: 600;
}

.card-info {
  font-size: 0.85rem;
  opacity: 0.8;
}

.footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
  opacity: 0.3;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  z-index: 70;
}

.player-controls {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  align-items: center;
}

.player-control-icon {
  height: 1rem;
  opacity: 0.6;
  cursor: pointer;
}

.progress-bar {
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track {
  background-color: #343434;
  border-radius: 300px;
  margin: 10px;
  width: 100%;
  height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 0.9rem;
  width: 0.9rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -7px;
}

.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playback-bar span {
  font-size: 0.8rem;
  opacity: 0.7;
}

.album {
  width: 26.5%;
}

.player {
  width: 49%;
}

.controls {
  width: 26.5%;
}
.player-control-icon:hover {
  opacity: 1;
}

.album {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.song-label {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 0.5rem;
}

.song-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
}
.song-writer {
  font-size: 0.7rem;
  opacity: 0.7;
  font-weight: 500;
  margin-left: 1rem;
  margin-top: 0.2rem;
  cursor: pointer;
}
.music-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.like {
  margin-bottom: 0.3rem;
  margin-left: 0.8rem;
  display: none;
}
.song-title:hover {
  text-decoration: underline;
}
.song-writer:hover {
  opacity: 1;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.65rem;
  margin-right: 1rem;
}

.controls img {
  height: 1.3rem;
  width: 1.3rem;
  opacity: 0.5;
  cursor: pointer;
}

.controls img:hover {
  opacity: 1;
}

.volume {
  width: 6rem;
  cursor: pointer;
}
.volume::-webkit-slider-runnable-track {
  background-color: white;
  border-radius: 300px;
  height: 0.4rem;
}

.volume::-webkit-slider-thumb {
  appearance: none;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  margin-top: -7px;
  display: none;
}

@media (max-width: 790px) {
  .sidebar {
    position: absolute;
    left: -400px;
    height: 100%;
    z-index: 50;
    box-shadow: 2px 2px 4px black;
    transition: all 0.1s linear;
  }
}
@media (min-width: 790px) {
  .sticky-nav-options label img {
    display: none;
  }
}
@media (max-width: 915px) {
  .song-writer {
    display: none;
  }
  .hide1 {
    display: none;
  }
}
@media (max-width: 750px) {
  .music-player {
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .controls {
    display: none;
  }
  .player,
  .album {
    background-color: #000000;
    width: 100%;
  }
}

@media (max-width: 625px) {
  .card {
    width: 130px;
  }
}

.sticky-nav-options label img {
  padding-top: 0.8rem;
  cursor: pointer;
  margin-right: 1em;
  height: 1.9em;
  border-radius: 50%;
}

#check {
  display: none;
}

#check:checked ~ .sidebar {
  left: 0.5rem;
}
